<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <p>こんにちは、<%= link_to current_user.username, user_path(current_user), class: :greeting__link %>さん</p>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%# 投稿がある場合は、以下のようにプロトタイプごとに表示されるようにしましょう %>
      <%= render partial: "prototype", collection: @prototypes %> <%# STEP48 %>
      <%# // 投稿がある場合は、上記を記述しましょう %>
    </div>
  </div>
</main>